/* Root, pantalla, letras , body y html*/
:root{
  --primario: #cf093f;
  --blanco: white;
  --gris: #a7a5a5;
  --negro: black;
  --oro: #ecab0f;
}
*{
box-sizing: border-box;
margin: 0; 
padding: 0;
}
html,body{
  text-align: center;
}
h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: var(--negro);
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: var(--primario);   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}

*,*::after,*::before{
  box-sizing: inherit;
}