/* Root, pantalla, letras , body y html*/
:root{
  --primario: #cf093f;
  --blanco: white;
  --gris: #a7a5a5;
  --negro: black;
  --oro: #ecab0f;
}
*{
box-sizing: border-box;
margin: 0; 
padding: 0;
}
html,body{
  text-align: center;
}
h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
}

h2{
  text-decoration: none;
}

h3{
  font-size: 16px; 
  padding-bottom: 30px;   
}


p{
  font-size: 14px; 
  color: #0e0e0e;
  text-decoration: none;
}

*,*::after,*::before{
  box-sizing: inherit;
}

  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: var(--primario); 
    border-color:var(--negro); 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: var(--blanco); 
  }