/* Root, pantalla, letras , body y html*/
:root{
    --primario: #cf093f;
    --blanco: white;
    --gris: #a7a5a5;
    --negro: black;
    --oro: #ecab0f;
}
*{
  box-sizing: border-box;
}
html,body{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.a{
  color:var(--negro);
  text-decoration: none;
}
.a:hover{
  color:var(--oro);
}
h1{font-size: 3rem;}
h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
*,*::after,*::before{
    box-sizing: inherit;
}