.container{
  max-width: 1200px;
  margin: 0;
  flex: 1;
}
.row::after{
  content: "";
  clear: both;
  display: table;
} 
[class *= "col-"]{
  float: left;
  padding: 10px;
  width: 100%;
}

@media only screen and (min-width:600px){
  .col-xs-1{width: 10%;}
  .col-xs-2{width: 20%;}
  .col-xs-3{width: 30%;}
  .col-xs-4{width: 40%;}
  .col-xs-5{width: 50%;}
  .col-xs-6{width: 60%;}
  .col-xs-7{width: 70%;}
  .col-xs-8{width: 80%;}
  .col-xs-9{width: 90%;}
  .col-xs-10{width: 100%;}
}

@media only screen and (min-width:800px){
  .col-s-1{width: 10%;}
  .col-s-2{width: 20%;}
  .col-s-3{width: 30%;}
  .col-s-4{width: 40%;}
  .col-s-5{width: 50%;}
  .col-s-6{width: 60%;}
  .col-s-7{width: 70%;}
  .col-s-8{width: 80%;}
  .col-s-9{width: 90%;}
  .col-s-10{width: 100%;}
}

@media only screen and (min-width:992px){
  .col-m-1{width: 10%;}
  .col-m-2{width: 20%;}
  .col-m-3{width: 30%;}
  .col-m-4{width: 40%;}
  .col-m-5{width: 50%;}
  .col-m-6{width: 60%;}
  .col-m-7{width: 70%;}
  .col-m-8{width: 80%;}
  .col-m-9{width: 90%;}
  .col-m-10{width: 100%;}
}

@media only screen and (min-width:1200px){
  .col-l-1{width: 10%;}
  .col-l-2{width: 20%;}
  .col-l-3{width: 30%;}
  .col-l-4{width: 40%;}
  .col-l-5{width: 50%;}
  .col-l-6{width: 60%;}
  .col-l-7{width: 70%;}
  .col-l-8{width: 80%;}
  .col-l-9{width: 90%;}
  .col-l-10{width: 100%;}
}

